%h1 QIF Converter

%p#intro
  Convert your online bank statements into 
  %a{:href => "http://en.wikipedia.org/wiki/Quicken_Interchange_Format"} QIF 
  files for use in your favourite money application.
  
%p.help
  %a{:href => "#help"} Need instructions?
  
%form{:action => "/convert", :method => "post"}
  - error = flash[:error]
  - if error
    %p.error= error
  %div.controls
    %div
      %label{:for => "table_format"} Transaction format
      %select{:name => "table_format", :id => "table_format"}
        %option{opt("ddoi", flash[:table_format])} Date Description Out In
        %option{opt("ddtoi", flash[:table_format])} Date Description Type Out In
        %option{opt("dddv", flash[:table_format])} DateReceived Date Description Value
    %div
      %label{:for => "date_format"} Date format
      %select{:name => "date_format", :id => "date_format"}
        %option{opt("%d %b %Y", flash[:date_format])} 20 Dec 2009
        %option{opt("%d/%m/%Y", flash[:date_format])} 20/12/2009
        %option{opt("%b %d %Y", flash[:date_format])} Dec 20 2009
        %option{opt("%m/%d/%Y", flash[:date_format])} 12/20/2009
  %div.transactions
    %label{:for => "transactions"} Copy and paste transactions from your online statement
    %textarea{:name => "transactions", :id => "transactions"}= flash[:raw]
  %div.submit
    %input{:type => "submit", :name => "convert", :value => "preview", :class => "preview button"}/
    %input{:type => "submit", :name => "convert", :value => "convert", :class => "convert button"}/
- unless (preview = flash[:preview]).nil?
  %div#preview
    %pre= preview

%div#help
  %h2 Instructions
  %ol
    %li Log in to your online banking as usual.
    %li Select the transactions you want to convert (don't include the headers).
    %li Copy.
    %li Paste into the textarea above.
    %li 
      Select the format of the statement and date. Some statements have an account balance on the end but you don't need to worry about that. 
      There are 
      %a{:href => "#examples"} a few examples 
      below if you need a bit more in the way of explanation.
    %li 
      Hit 
      %strong preview 
      to see how it's going to come out.
    %li In the preview you should see American style dates (24/12/09, for example) and negative numbers for withdrawls.
    %li 
      = succeed "." do
        If everything looks okay hit 
        %strong convert
    %li 
      %a{:href => "http://wesabe.com"} Wesabe 
      users in Firefox should see the 
      %strong upload to Wesabe 
      button, as per usual.
      
%div#examples
  %h2 Examples
  %table
    %thead
      %tr
        %th Bank
        %th Example statement
        %th Transaction Format
        %th Date Format
    %tbody
      %tr
        %td
          Egg
        %td
          %code 14 Jul 2009	Card Deposit	 	100.00	100.00
        %td
          Date Description Out In
        %td
          20 Dec 2009
      %tr
        %td
          Sainsbury's Bank
        %td
          %code 14/07/2009	 Card Deposit	  	  100.00	  100.00
        %td
          Date Description Out In
        %td
          20/12/2009
      %tr
        %td
          Sainsbury's Bank
          %a{:href => "#really"} *
        %td
          %code 14/07/2009	 NET INTEREST	 INT	  	  100.00	  100.00
        %td
          Date Description Type Out In
        %td
          20/12/2009
  %p#really * Not a typo: Sainsbury's Bank really do have two separate formats for their statements depending on what type of account you have!